.btn {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: $main-color;
    color: #fff;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;

    svg {
        margin-right: 10px;
    }
}